.planos {
    background-image: url(../../assets/textura.png);
    height: 100vh;
    width: 100%;
    margin-bottom: 5%;
}

.titulo_planos {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    font-size: 2vmax;
    font-weight: bolder;
    color: white;
    margin-bottom: 2%;
}

.area_cards {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.area_cards::-webkit-scrollbar {
    height: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.area_cards::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.plano {
    background-color: white;
    width: 23%;
    height: 90%;
    border-radius: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 3%;
}

.conteudo_planos {
    height: 90%;
}

.opcao_plano {
    background: rgb(171, 26, 61);
    background: linear-gradient(180deg, rgba(171, 26, 61, 1) 33%, rgba(232, 126, 28, 1) 99%);
    border-radius: 1vmax;
    height: 15%;
    width: 80%;
    position: absolute;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcao_plano span {
    font-size: 1.5vmax;
    font-weight: bolder;
    color: white;
}

.opcao_plano_espaçamento {
    height: 5%;
    width: 80%;
}

.imagem_plano_1 {
    width: 155px;
    height: 152px;
    background-size: cover;
    background-image: url(../../assets/magenta_6.png);
}

.imagem_plano_2 {
    width: 155px;
    height: 152px;
    background-size: cover;
    background-image: url(../../assets/magenta_8.png);
}

.imagem_plano_3 {
    width: 155px;
    height: 152px;
    background-size: cover;
    background-image: url(../../assets/magenta_9.png);
}

.texto_planos {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 80%;
    height: 60%;
    margin: auto;
    font-size: 1.2vmax;
}
@media only screen and (max-width: 1999px){
    .titulo_planos {
        font-size: 1.8em;
        font-family: 'Montserrat Ace SemiBold';
    }
    .area_cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .planos {
        background-image: url(../../assets/textura.png);
        background-position: 50% 0%;
        height: 80vh;
    }
    .plano {
        height: 80%;
        width: 30%;
    }
    .opcao_plano span {
        font-size: 1.4em;
        font-weight: bolder;
        color: white;
    }
    .texto_planos {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 80%;
        height: 50%;
        margin: auto;
        font-size: 1.2em;
        overflow-y: auto;
    }
}
@media only screen and (max-width: 768px){
    .planos{
        background-image: url(../../assets/textura.png);
        background-position: 50% 20%;
    }
    .area_cards{
        justify-content: space-around;
    }
    .titulo_planos {
        font-size: 1.6em;
        font-family: 'Montserrat Ace SemiBold';
    }
    .opcao_plano span {
        font-size: 1.3em;
        font-weight: bolder;
        color: white;
    }
    .texto_planos {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 80%;
        height: 50%;
        margin: auto;
        font-size: 1em;
    }
}
@media only screen and (max-width: 600px){
    .planos {
        /* overflow-x: scroll;
        overflow-y: hidden; */
        height: 95vh;
        background-image: url(../../assets/background_glow.png);
        background-position: 100% 70%;
    }
    .plano{
        min-width: 80%;
    }
    .plano:first-child{
        margin-left: 8vw;
    }
    .plano:last-child{
        margin-right: 8vw;
    }
    .area_cards {
        width: 100%;
        margin: auto;
        justify-content: start;
        overflow-x: scroll;
        gap: 8vw;
        align-items: center;
        margin: 2% 0%;
    }
    .opcao_plano span {
        font-size: 1.3em;
        font-weight: bolder;
        color: white;
    }
    .titulo_planos {
        font-size: 1.5em;
        font-family: 'Montserrat Ace SemiBold';
    }
    .texto_planos {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 80%;
        height: 60%;
        margin: auto;
        font-size: 1.1em;
    }
}
@media only screen and (min-width: 1200px){
    .planos {
        background-image: url(../../assets/textura.png);
        height: 100vh;
        width: 100%;
        margin-bottom: 5%;
    }
    .area_cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .plano {
        height: 90%;
        width: 25%;
    }
    .titulo_planos {
        font-size: 2em;
        font-family: 'Montserrat Ace SemiBold';
    }
    .texto_planos {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 80%;
        height: 60%;
        margin: auto;
        font-size: 1.2em;
    }
}
