.sobre {
    background-color: #f3f3f3;
    height: 75vh;
    flex-direction: row;
    display: flex;
    padding: 2%;
    overflow: hidden;
}
.forma{
    position: relative;
    display: flex;
    align-items: center;
}
video {
    margin: 15px 0 0 35px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    clip-path: url(#clipBlob);
    position: absolute;
}
.conteudo_sobre {
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
}

.conteudo_interno{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
}

.titulo_sobre {
    font-family: 'Montserrat Ace Bold', sans-serif;
    font-size: 2vmax;
    background: linear-gradient(to right, #AB1A3D, #E87E1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.texto_sobre {
    font-size: 1.5vmax;
}
@media only screen and (min-width:1200px){
    .conteudo_sobre{
        align-items: center;
        margin: 13% auto;
        width: 45%;
    }
    .titulo_sobre {
        font-size: 2em;
        margin-bottom: 5%;
    }
    
    .texto_sobre {
        font-size: 1.5em;
        line-height: 1.5em;
    }
    #pathGrande{
        display: block;
    }
    #pathMedio{
        display: none;
    } 
    #pathPequeno{
        display: none;
    } 
}
@media only screen and (max-width: 1199px){
    video{
        margin: -30px 0 0 30px;
        width: 450px;
        height: 450px;
        clip-path: url(#clipBlobMedio);
    }
    #pathGrande{
        display: none;
    }
    #pathMedio{
        display: flex;
    } 
    #pathPequeno{
        display: none;
    } 
    .conteudo_sobre{
        margin-top: 20%;
    }
    
    .titulo_sobre {
        font-size: 2em;
    }
    
    .texto_sobre {
        font-size: 1.4em;
    }
}
@media only screen and (max-width: 950px) {
    .sobre {
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
}
.conteudo_sobre {
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
    margin: 0;
}

.conteudo_interno{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    text-align: center;
}

.titulo_sobre {
    font-size: 2em;
}

.texto_sobre {
    font-size: 1.4em;
}
}

@media only screen and (max-width:600px) {
    .sobre{
        overflow: hidden;
        padding-left: 5%;
        height: 90vh;
    }
    video{
        margin: -150px 0 0 20px;
        width: 350px;
        height: 350px;
        clip-path: url(#clipBlobPequeno);
    }
    .forma{
        padding-top: 195px;
        min-height: 155px;
        width: 375px;
        overflow: hidden;
        margin: 1%;
    }
    .borda{
        height: 533px;
        width: 561px;
        position: absolute;
    }
    #pathGrande{
        display: none;
    }
    #pathMedio{
        display: none;
    } 
    #pathPequeno{
        display: flex;
    } 
    .conteudo_sobre {
        height: 100%;
        width: 90%;
        margin: auto;
    }
    
    .titulo_sobre {
        font-family: 'Montserrat Ace SemiBold', sans-serif;
        font-size: 1.6em;
        text-align: center;
        margin-bottom: 4%;
    }
    .texto_sobre {
        font-size: 1.3em;
    }   
}

