.content {
    display: flex;
    width: calc(100% - 250px);
    align-items: center;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #23104D;
    justify-content: center;
    align-items: center;
}

.titulo_cabecalho {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.title_card {
    font-size: 30px;
    font-weight: bold;
}

.data_datetime, .data_componente{
    display: flex;
    width: 100%;
    gap: 40px;
}

select {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 10px;
    color: white;
    border-radius: 12px;
    border: none;
  }

option {
    text-decoration: none;
    padding: 10px;
    color: black;
    border-radius: 12px;
    border: none;
}

.area_filtro {
    display: flex;
    width: 95%;
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
}

.filtros {
    display: flex;
    color: white;
    background: linear-gradient(to right, #AB1A3D, #E87E1C);
    border-radius: 12px;
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

.diquinha {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    background-color: #23104D;
    border-radius: 12px;
    height: 100px;
    padding: 12px;
}

.tipos_alerta {
    display: flex;
    gap: 5px;
    width: 100%;
    flex-direction: row;
}

#grau_critico {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #EF0303;
    border-radius: 12px;
}

#grau_intermediario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F87736;
    border-radius: 12px;
}

#grau_moderado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFBF00;
    border-radius: 12px;
}

#grau_bom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #50DF50;
    border-radius: 12px;
}

.area_tabela {
    width: 95%;
    height: 100%;
    border: 2px solid #23104D;
    margin-top: 2%;

}

.cabecalho_tabela {
    color: white;
    display: flex;
    background-color: #23104D;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.conteudo_card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #23104D;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
    margin-top: 2%;
}

#alerta_cor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    background-color: aliceblue;
}

#dataCriado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    background-color: aliceblue;
}

.conteudo_componente {
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.grau_critico {
    background-color: #EF0303; /* Vermelho para grau crítico */
  }

  .grau_intermediario {
    background-color: #FFBF00; /* Amarelo para grau intermediário */
  }

  .grau_moderado {
    background-color: #50DF50; /* Verde para grau moderado */
  }

  .grau_bom {
    background-color: #3498DB; /* Azul para grau bom */
  }

