:root {
  --Gradiente-pica: linear-gradient(241deg, #E87E1C 9.88%, #AB1A3D 80.47%);
  --Gradiente-pica-escuro: linear-gradient(241deg, #c06816 9.88%, #8b1531 80.47%);
  --Radial: radial-gradient(82.96% 46.27% at 50% 28.22%, #23104D 1.04%, #1D0D40 37.5%, #170A34 62.57%, #0D0324 96%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--Radial);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Montserrat Ace Regular';
  height: 100vh;
  width: 100%;
  color: white;
}

.barra-superior {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 80px;
  background-color: transparent;
}

.barra-superior a{
  text-decoration: none;
  color: white;
}

.borda-botao{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: var(--Gradiente-pica);
  margin-left: 25px;
}

.botao-voltar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 95%;
  border-radius: 10px;
  background: var(--Radial);
  border: none;
  color: white;
}

.area-usuario{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: calc(100% - 80px);
  border: none;
  color: white;
}

.imagem-usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 90%;
}

.imagem-usuario img{
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-width: 300px;
  border-radius: 50px;
  /* atributo para não deixar a imagem distorcer */
  object-fit: cover;
}

.atualizar-imagem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--Gradiente-pica);
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.informacoes-usuario{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 40%;
  height: 70%;
  margin: 7vh 20px 0 40px;
}

.campo-informacao{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin: 10px 0;
}

.informacao-campo{
  display: flex;
  font-weight: 600;
  color: gray;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
}

.linha-gradient{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1px;
  background: var(--Gradiente-pica);
}
