:root {
  --Gradiente-pica: linear-gradient(241deg, #E87E1C 9.88%, #AB1A3D 80.47%);
  --Gradiente-pica-escuro: linear-gradient(241deg, #c06816 9.88%, #8b1531 80.47%);
  --Radial: radial-gradient(82.96% 46.27% at 50% 28.22%, #23104D 1.04%, #1D0D40 37.5%, #170A34 62.57%, #0D0324 96%);
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  background: var(--Radial);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
}

.espaco-barra-lateral {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 100%;
}

.barra-lateral {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: #23104D;
  color: #fff;
  transition: all 0.3s;
}

.titulo-barra-lateral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #180A35;
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  color: #fff;
}

.usuario-barra-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.imagem-usuario-barra-lateral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 10px;
}

.imagem-usuario-barra-lateral img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.imagem-usuario-barra-lateral a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.info-usuario-barra-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.nome-barra-lateral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.cargo-barra-lateral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sair-barra-lateral {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

}

.sair-barra-lateral a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  color: #E5E5E5;
  font-size: 18px;
  border-radius: 20px;
  background: var(--Gradiente-pica);
  border-radius: 5px;
  transition: all 0.3s;
}

.sair-barra-lateral a:hover {
  background: var(--Gradiente-pica-escuro);
}

.burger {
  display: none;
  flex-direction: column;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: all 0.3s;
}

.bar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: calc(100% - 420px);
  width: 100%;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.bar-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: calc(100% - 60px);
  cursor: pointer;
  transition: all 0.3s;
}

.bar-links li a:hover {
  background-color: #180A35;
  border-radius: 5px;
}

.bar-links li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 20px;
}

.bar-links li a:hover {
  color: #fff;
}

.sessao-computadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: calc(100% - 250px);
}

.barra-superior {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background-color: #23104D;
  color: #fff;
  z-index: 1;
}

.item-barra{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.imagem-usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.imagem-usuario img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nome-usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.nome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.cargo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 5px;
}

.pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}

.pesquisa input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}

.sair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;

}

.sair a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background: var(--Gradiente-pica);
  border-radius: 5px;
  transition: all 0.3s;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.espaco-titulo-sessao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: #180A35;
  color: #fff;
}

.titulo-sessao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 80px;
  width: calc(100% - 250px);
  background-color: #23104D;
  color: #fff;
  z-index: 1;
}

.botao-adicionar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10px;
  right: 30px;
  width: 75px;
  height: 75px;
  background: var(--Gradiente-pica);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1;
  margin-top: calc(100vh - 115px);
  font-weight: bold;
  font-size: 40px;
}

.botao-adicionar:hover {
  background: var(--Gradiente-pica-escuro);
  /* atributo cor com cinza claro */
  color: #D9D9D9;
}

.metricas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1020px;
  margin-top: 20px;
  gap: 20px;
}

.card-metrica{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
  height: 130px;
  background: #FFFFFF;
  box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.card-metrica:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.titulo-metrica{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: medium;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  color: #E5E5E5;
  background: var(--Gradiente-pica);
  border-radius: 10px;
  width: calc(100% - 20px);
  height: 30px;
}

.conteudo-metrica{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: 600;
  color: #000000;
  height: calc(100% - 50px);
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1020px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
}

.titulo-conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.centro-conteudo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100% - 150px);
  gap: 20px;
  padding: 10px;
}

.centro-conteudo img{
  height: 100%;
  border-radius: 5px;
}

.resumo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 150px;
  border-radius: 6px;
  border: 1px solid #c06816;
}

.titulo-resumo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  font-size: large;
  font-weight: bold;
  color: #E5E5E5;
  background: var(--Gradiente-pica);
  border-radius: 5px;
}

.conteudo-resumo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 30px);
  font-size: xx-large;
  font-weight: bold;
}

.critico{
  color: #FF0000;
}

.medio{
  color: #FFA500;
}

.bom{
  color: #00FF00;
}

.conteudo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin: 15px 0;
  border-radius: 20px;
  background: var(--Gradiente-pica);
  border-radius: 5px;
  transition: all 0.3s;
}

