body {
    margin: 0;
    height: 0;
    background: var(--Radial, radial-gradient(82.96% 46.27% at 50% 28.22%, #23104D 1.04%, #1D0D40 37.5%, #170A34 62.57%, #0D0324 96%));
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat Ace Regular';
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url(../assets/img_entrada.png);
    background-attachment: local;
    background-size: 100% 185%;
    background-repeat: no-repeat;
    background-position: 0vw 3vh;
}


.navbar {
    display: flex;
    height: 8%;
    width: 90%;
    margin: auto;
}

.opcoes {
    display: flex;
    flex-direction: row;
    width: 98%;
    gap: 5%;
    justify-content: end;
    align-items: center;
    font-size: 1.3vmax;
    list-style: none;
}

.lista_opcoes{
    display: flex;
    flex-direction: row;
    width: 98%;
    gap: 5%;
    justify-content: end;
    align-items: center;
    font-size: 1.3vmax;
    list-style: none;
}

li {
    cursor: pointer;
    color: white;
}

.borda_do_botao {
    width: 7%;
    height: 50%;
    padding: 0.1%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #E87E1C, #AB1A3D);
}

.entrar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #180A35;
    font-size: large;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    color: white;
    margin-left: 8%;
    margin-top: 15%;
}

.botao_do_conteudo {
    background-image: linear-gradient(to right, #E87E1C, #AB1A3D);
    height: 80%;
    border: 0;
    width: 50%;
    border-radius: 0.5vmax;
    font-size: 1.2vmax;
    font-weight: 800;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.titulo {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 2vmax;
    font-weight: 800;
    margin-left: 2%;
    background: linear-gradient(to right, #AB1A3D, #E87E1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.texto {
    height: 60%;
    font-size: 1.5vmax;
    margin-left: 2%;
}

.conteudo_baixo {
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.box {
    display: flex;
    height: 92%;
    width: 100%;
    flex-direction: row;
}

.sobre {
    background-color: white;
    flex-direction: row;
    display: flex;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.conteudo_video {
    height: 70%;
    width: 70%;
}

.conteudo_sobre {
    display: flex;
    height: 100%;
    width: 40%;
    margin-top: 11%;
    flex-direction: column;
}

.conteudo_interno {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.titulo_sobre {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2vmax;
    background: linear-gradient(to right, #AB1A3D, #E87E1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.texto_sobre {
    font-size: 1.5vmax;
}

.icones_rodapé {
    display: flex;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.imagem_rodapé {
    background-image: url(../assets/Group\ 25.png);
    background-size: cover;
    height: 16%;
    width: 30%;
    margin-right: 25%;
    margin-bottom: 25%;
}

.planos {
    background-image: url(../assets/textura.png);
    height: 100vh;
    width: 100%;
    margin-bottom: 5%;
}

.titulo_planos {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    font-size: 2vmax;
    font-weight: bolder;
    color: white;
    margin-bottom: 2%;
}

.area_cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.plano {
    background-color: white;
    width: 23%;
    height: 90%;
    border-radius: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 5%;
}

.conteudo_planos {
    height: 90%;
}

.opcao_plano {
    background: rgb(171, 26, 61);
    background: linear-gradient(180deg, rgba(171, 26, 61, 1) 33%, rgba(232, 126, 28, 1) 99%);
    border-radius: 1vmax;
    height: 15%;
    width: 80%;
    position: absolute;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcao_plano span {
    font-size: 1.5vmax;
    font-weight: bolder;
    color: white;
}

.opcao_plano_espaçamento {
    height: 5%;
    width: 80%;
}

.imagem_plano_1 {
    width: 55%;
    height: 30%;
    background-size: cover;
    background-image: url(../assets/magenta_6.png);
}

.imagem_plano_2 {
    width: 55%;
    height: 30%;
    background-size: cover;
    background-image: url(../assets/magenta_8.png);
}

.imagem_plano_3 {
    width: 55%;
    height: 30%;
    background-size: cover;
    background-image: url(../assets/magenta_9.png);
}

.texto_planos {
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 95%;
    height: 50%;
    font-size: 1.2vmax;
}

.logo {
    height: 60%;
    margin: 1% 0 0 0;
    width: 15%;
    background-image: url(../assets/logo_branca.png);
    background-repeat: no-repeat;
    background-size: contain;
}
