@media only screen and (min-width: 1200px) {
  .main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url(../assets/img_entrada.png);
    background-attachment: local;
    background-size: 100% 185%;
    background-repeat: no-repeat;
    background-position: 0vw 3vh;
  }

  .navbar {
    display: flex;
    height: 8%;
    width: 90%;
    justify-content: space-between;
    margin: auto;
  }

  .logo {
    height: 60%;
    margin: 1% 0 0 0;
    width: 20vmax;
    background-image: url(../assets/logo_branca.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .opcoes {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 5%;
    justify-content: end;
    align-items: center;
    font-size: 1.5vmax;
    list-style: none;
  }

  .menu_hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .barra {
    width: 4.5vmax;
    height: 0.25vmax;
    background-color: #fff;
    margin: 0.4vmax 0;
  }

  .lista_opcoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    justify-content: end;
    align-items: center;
    font-size: 1.5vmax;
    list-style: none;
  }

  li {
    cursor: pointer;
    color: white;
  }

  .borda_do_botao {
    width: max-content;
    height: 50%;
    padding: 1px;
    border-radius: 0.5vmax;
    background-image: linear-gradient(to right, #E87E1C, #AB1A3D);
  }

  .entrar {
    width: 100%;
    height: 100%;
    border-radius: 0.5vmax;
    color: white;
    border: none;
    background-color: #180A35;
    font-size: 1.5vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 0 5px;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    color: white;
    margin-left: 8%;
    margin-top: 15%;
  }

  .botao_do_conteudo {
    background-image: linear-gradient(to right, #E87E1C, #AB1A3D);
    height: 80%;
    border: 0;
    width: 50%;
    border-radius: 0.5vmax;
    font-size: 1.2vmax;
    font-weight: 800;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }

  .titulo {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 2vmax;
    font-weight: 800;
    margin-left: 2%;
    background: linear-gradient(to right, #AB1A3D, #E87E1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .texto {
    height: 60%;
    font-size: 1.5vmax;
    margin-left: 2%;
  }

  .conteudo_baixo {
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 2%;
  }

  .box {
    display: flex;
    height: 92%;
    width: 100%;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1199px) {
  .main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url(../assets/img_entrada.png);
    background-attachment: local;
    background-size: 100% 185%;
    background-repeat: no-repeat;
    background-position: 0vw 3vh;
  }

  .navbar {
    display: flex;
    height: 8%;
    width: 90%;
    justify-content: space-between;
    margin: auto;
  }

  .logo {
    height: 60%;
    margin: 1% 0 0 0;
    width: 20vmax;
    background-image: url(../assets/logo_branca.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .opcoes {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 5%;
    justify-content: end;
    align-items: center;
    font-size: 1.5vmax;
    list-style: none;
  }

  .menu_hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .barra {
    width: 4.5vmax;
    height: 0.25vmax;
    background-color: #fff;
    margin: 0.4vmax 0;
  }

  .lista_opcoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    justify-content: end;
    align-items: center;
    font-size: 1.5vmax;
    list-style: none;
  }

  li {
    cursor: pointer;
    color: white;
  }

  .borda_do_botao {
    width: max-content;
    height: 50%;
    padding: 1px;
    border-radius: 0.5vmax;
    background-image: linear-gradient(to right, #E87E1C, #AB1A3D);
  }

  .entrar {
    width: 100%;
    height: 100%;
    border-radius: 0.5vmax;
    color: white;
    border: none;
    background-color: #180A35;
    font-size: 1.5vmax;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 0 5px;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    color: white;
    margin-left: 8%;
    margin-top: 15%;
  }

  .botao_do_conteudo {
    background-image: linear-gradient(to right, #E87E1C, #AB1A3D);
    height: 80%;
    border: 0;
    width: 50%;
    border-radius: 0.5vmax;
    font-size: 1.2vmax;
    font-weight: 800;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }

  .titulo {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 2vmax;
    font-weight: 800;
    margin-left: 2%;
    background: linear-gradient(to right, #AB1A3D, #E87E1C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .texto {
    height: 60%;
    font-size: 1.5vmax;
    margin-left: 2%;
  }

  .conteudo_baixo {
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 2%;
  }

  .box {
    display: flex;
    height: 92%;
    width: 100%;
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .lista_opcoes {
    display: none;
    flex-direction: row;
    width: 100%;
    gap: 5%;
    justify-content: end;
    align-items: center;
    font-size: 1.5vmax;
    list-style: none;
  }

  .lista_opcoes.show {
    display: flex;
  }

  .menu_hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}
